.skills {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}
.card {
  margin: 10px;
}

.textSkill {
  margin: auto 5px;
  padding: 5px;
  text-align: left;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 0.5px;
  color: rgb(33, 117, 128);
  border: 1px dashed rgb(107, 107, 127);
}
