.app {
  display: flex;
  max-width: 100%;
  flex-direction: column;
}

.row {
  display: flex;
  background-color: rgb(189, 172, 172);
  margin-bottom: 10px;
}
hr {
  background: rgb(189, 172, 172);
  background: rgb(222, 191, 214);
  content: "";
  display: block;
  height: 5px;
  margin: 50px auto;
  width: 60%;
}
.row2 {
  display: flex;
  background-color: rgb(222, 191, 214);
  margin-bottom: 10px;
}
.block1 {
  margin-right: 5px;
  background-color: rgb(162, 187, 190);
  width: 20%;
}
.block {
  margin-right: 5px;
  background-color: rgb(162, 187, 190);
  width: 45%;
}
.block:last-child {
  margin-right: 0;
}
.block2 {
  margin-right: 5px;
  background-color: rgb(189, 172, 172);
  width: 70%;
}
.block2:last-child {
  width: 30%;
}
.block2:last-child {
  margin-right: 0px;
}
span {
  font-style: italic;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
